html {
    background-color: #d0d0d0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 350px;
    margin-bottom: 200px;
}

li {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    background-color: #fff;
}

.game-over-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: -100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all;
}

.game-over-screen.active {
    top: 0;
}

#gameOverTarget {
    color: lime;
}