
.box{
    width: 500px;
    height:150px;
    border: 15px solid red;
    background-image:url(./image/360_F_305387800_q51tHpf3H95JejDxdyK4oEVDVVytRVG7.jpeg) ;
    background-size: cover;
}
h5{
  
    margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 8rem;
}